.top{
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
#menu-home{
    width: 250px;
}
#menu-about-us{
    position: absolute;
    top: 0;
    left: 270px;
    padding: 10px 10px 10px 10px;
    margin-top: 8px;
}
#menu-about-us:hover{
    border-radius: 12px;
    background: #f7f7f7;
    box-shadow:  5px 5px 5px #9b9b9b,
                -26px -26px 9px #ffffff;
}
#menu-download{
    position: absolute;
    top: 0;
    right: 30px;
    padding: 10px 10px 10px 10px;
    margin-top: 8px;
}
#menu-download:hover{
    border-radius: 12px;
    background: #f7f7f7;
    box-shadow:  5px 5px 5px #9b9b9b,
                -26px -26px 9px #ffffff;
}
.menu-link{
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: #000000;
    text-decoration: none;
}
.download-content{
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
h2{
    font-family: arial;
    color: #000000;
}
.download-content-link{
    position: relative;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: #000000;
    text-decoration: none;
    left: 50px;
}
.home-content{
    position: absolute;
    left: 2%;
    right: 2%;
    top:12%;
    height:750px;
}
